
<div class="body">
    <div class="container">

        <%= render "devise/shared/error_messages", resource: @user %>

        <%= form_for (@user) do |f| %>

            <h2>User info</h2>
            <div class="field">
                <label for="user_name">Name</label>
                <%= f.text_field :name%><br/>
            </div>
            <div class="field">
                <label for="user_image">Image</label>
                <%= f.attachment_field :profile_image, class:"user-image" %>
            </div>
            <div class="field">
                <label for="user_intro">Introduction</label>
                <%= f.text_area :introduction%><br/>
            </div>
            <div class="actions">
                <%= f.submit "Update User"%>
            </div>

        <% end %>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-xs-3 col-xs-offset-9">
                        <p>CopyRight Infratop.inc</p>
                    </div>
                </div>
            </div>
        </footer>

    </div>
</div>